.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--gray-300);
  line-height: 22.4px;

  border-top: 1px solid var(--gray-400);
  border-radius: 0.5rem;

  padding: 64px 24px 64px 24px;
}

.content img {
  margin-bottom: 1rem;
  width: 56px;
  height: 56px;
}